.inner{
    max-width: 1134px;
    margin: 0 auto;

    @include tablet{
        max-width: 1130px;
    }
}

a {
    text-decoration: none;
    color: #8d8579;
    font-size: 16px;
    transition: all 0.2s ease;
  }

p {
    font-size: 16px;
    line-height: 1.87;
    color: #8d8579;
    margin-bottom: 0;
    font-weight: 400;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.btn-common{

    .button{
        cursor: pointer;
        color: #fff;
        background: #6e5afd;
        border-radius: 33px;
        width: 248px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        pointer-events: none;


        &:hover{
            background: #fff;
            border: 1px solid #6e5afd;
            color: #000;
        }
    }
    
}

.btn-more{
    .button{
        cursor: pointer;
        color: #fff;
        background: #000;
        border-radius: 33px;
        width: 248px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;

        &:hover{
            background: #ffd600;
            border: 1px solid #000;
            color: #000;
        }
    }
}

.headline{
    font-size: 46px;
    color: #040404;
    font-weight: 700;
    font-family: CommerceSans;
    line-height: 1.2;

    &.small{
        font-size: 24px;
        line-height: 1.2;
    }
}

// dark 모드

.wrap{
    &.dark{
        background: #040404;
        color: #fff;

        a{
            color: #fff;
        }

        p{
            color: #fff;
        }

        .headline{
            color: #fff;
        }

        .btn-more{
            .button{
                cursor: pointer;
                color: #000;
                background: #fff;
                border-radius: 33px;
                width: 248px;
                height: 66px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
        
                &:hover{
                    border: 1px solid #000;
                    color: #000;
                }
            }
        }
    }
}

