@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: Tan-Official;
    src: url('../../../assets/font/TAN-OFFICIAL.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: Autograf Personal;
    src: url('../../../assets/font/Autograf_PersonalUseOnly.ttf');
    font-weight: 400;
  }

@font-face {
    font-family: CommerceSans;
    font-style: normal;
    font-weight: 400;
    src: url(https://rlyiz0wtg.toastcdn.net/CommerceSans-Regular.woff) format("woff"),url(https://rlyiz0wtg.toastcdn.net/CommerceSans-Regular.woff2) format("woff2")
}

@font-face {
    font-family: CommerceSans;
    font-style: normal;
    font-weight: 500;
    src: url(https://rlyiz0wtg.toastcdn.net/CommerceSans-Medium.woff) format("woff"),url(https://rlyiz0wtg.toastcdn.net/CommerceSans-Medium.woff2) format("woff2")
}

@font-face {
    font-family: CommerceSans;
    font-style: normal;
    font-weight: 700;
    src: url(https://rlyiz0wtg.toastcdn.net/CommerceSans-Bold.woff) format("woff"),url(https://rlyiz0wtg.toastcdn.net/CommerceSans-Bold.woff2) format("woff2")
}